/* Adding the Dark mode */

/* @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
    }
} */

body {
    overflow-x: hidden
}

h1,
h3,
h4,
.navbar-brand {
    font-family: 'Righteous', cursive;
}

p,
.navbar {
    font-family: 'Poppins', sans-serif;
}

/* Hero section */
.hero {
    height: 85vh;
    width: 100%;
    background-attachment: fixed !important;
    background: url(../images/hero2.jpg) center right;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
}


.hero .btn {
    background: #F43735 !important;
    border-color: #F43735 !important;
    transition: all .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.hero .btn:hover {
    transform: scale(1.2);
}

.hero h1 {
    font-size: 70px;
    color: #fff;
}

.hero p {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}


/* button animation */
.hero button{
    width:150px;
    height:50px;
    background: linear-gradient(to left top, #F43735 50%, #d4312f 50%);
    border-style: none;
    color:#fff;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.hero button span{
    position: absolute;
    display: block;
}
.hero button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
.hero button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.hero button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.hero button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.hero button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.hero button:hover span{
    animation-play-state: paused;
}

/* Nav Section */

.navbar-brand{color: #F43735 !important;}

.nav-link:hover,
.navbar .active {
    color: #F43735 !important;
}

.nav-item {
    margin-right: 25px;
}

/* About Section */
#about p span {
    color: #F43735;
}

/* Skills Section */



/* Mobile view */
@media(max-width:767px) {
    .hero h1 {
        text-align: center;
        font-size: 50px;
    }
}

/* Skill progress bar */
.progress-outer {
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(209, 219, 231, 0.7);
}

.progress-bar{background-color: #F43735;}

.progress {
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
}

.progress .progress-bar {
    border-radius: 50px;
}

.progress .progress-value {
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

/* Skills section */
#skills .progress-outer p{
    font-weight: bold;
    margin-left: 4px;
}


/* contact section */
#contact .adr p{margin-bottom: 0;}
#contact .adr{margin-bottom: 7px;}

#contact i{
    color: #F43735;
    font-size: 30px; 
}

#contact i:hover{
    color: #d4312f;
}

#contact .btn{
    background: #F43735 !important;
    border-color: #F43735 !important;
}

#contact .btn:hover{
    background: #d4312f !important;
    border-color: #d4312f !important;
}

.social i{
    font-size: 40px;
    margin-right: 10px;
}

/* Footer section */
#footer{
    box-shadow: 0 -10px 20px 0 rgba(0,0,0,0.05);
    padding: 20px;
}

#footer span{color: #F43735; cursor: pointer; font-weight: bold;}