body {
    overflow-x: hidden
}

h1,
h3,
h4,
.navbar-brand {
    font-family: 'Righteous', cursive;
}

p,
.navbar {
    font-family: 'Poppins', sans-serif;
}

/* Hero section */
.hero {
    height: 85vh;
    width: 100%;
    background: rgb(255, 108, 108);
    background-attachment: fixed !important;
    background: url(../images/hero2.jpg) center right;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
}


.hero .btn {
    background: #F43735 !important;
    border-color: #F43735 !important;
    transition: all .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.hero .btn:hover {
    transform: scale(1.2);
}

.hero h1 {
    font-size: 70px;
    color: #fff;
}

.hero p {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.hero i {
    transition: all .2s ease-in-out;
    font-size: 30px;
    color: #fff;
}

.hero i:hover {
    color: #F43735;
    transform: translateY(5px);
}


/* Nav Section */
header {
    height: 60px;
}

.nav-link:hover,
.navbar .active {
    color: #F43735 !important;
}

.nav-item {
    margin-right: 25px;
}

/* About Section */
#about p span {
    color: #F43735;
}

/* Skills Section */



/* Mobile view */
@media(max-width:767px) {
    .hero h1 {
        text-align: center;
        font-size: 50px;
    }
}

/* Skill progress bar */
.progress-outer {
    background: #fff;
    border-radius: 50px;
    padding: 25px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(209, 219, 231, 0.7);
}

.progress {
    height: 27px;
    margin: 0;
    overflow: visible;
    border-radius: 50px;
    background: #eaedf3;
    box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
}

.progress .progress-bar {
    border-radius: 50px;
}

.progress .progress-value {
    position: relative;
    left: -45px;
    top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

/* Skills section */
#skills .progress-outer p{
    font-weight: bold;
    margin-left: 4px;
}