/* Hero section */
.hero {
    height: 75vh;
    width: 100%;
    background: rgb(255, 108, 108);
    background-attachment: fixed;
    background: url(../images/hero.jpg) center right no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.hero h1 {
    font-size: 70px;
    color: #fff;
}

.hero p {
    font-size: 30px;
    color: #fff;
}

.hero i {
    font-size: 40px;
    color: #fff;
}

header {
    height: 60px;
}

.navbar{
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover, .navbar .active{
    color: #d43076 !important;
}

.nav-item{
    margin-right: 25px;
}