body{overflow-x: hidden}
h1, h4{font-family: 'Righteous', cursive;}
p, .navbar{font-family: 'Poppins', sans-serif;}

/* Hero section */
.hero {
    height: 85vh;
    width: 100%;
    background: rgb(255, 108, 108);
    background-attachment: fixed !important;
    background: url(../images/hero.jpg) center right;
    background-size: cover;
    
}

.hero h1 {
    font-size: 70px;
    color: #fff;
}

.hero p, .hero i {
    font-size: 30px;
    color: #fff;
}

.hero i{transition: all .2s ease-in-out;}
.hero i:hover{
    color: #F43735;
    transform: translateY(5px);
}


/* Nav Section */
header {
    height: 60px;
}

.nav-link:hover, .navbar .active{
    color: #F43735 !important;
}

.nav-item{
    margin-right: 25px;
}

/* About Section */
#about p span{
    color: #F43735;
}

/* Skills Section */
